## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

# Analyze the Datasets

In [2]:
movies = pd.read_csv('../Datasets/Movies/ml-1m/movies.dat', sep='::', header=None, engine='python', encoding='latin-1')
movies.columns = ["Id", "Title", "Category"]
movies.head()

   Id                               Title                      Category
0   1                    Toy Story (1995)   Animation|Children's|Comedy
1   2                      Jumanji (1995)  Adventure|Children's|Fantasy
2   3             Grumpier Old Men (1995)                Comedy|Romance
3   4            Waiting to Exhale (1995)                  Comedy|Drama
4   5  Father of the Bride Part II (1995)                        Comedy

In [3]:
users = pd.read_csv('../Datasets/Movies/ml-1m/users.dat', sep='::', header=None, engine='python', encoding='latin-1')
users.columns = ["Id", "Gender", "Age", "Job", "Code"]
users.head()

   Id Gender  Age  Job   Code
0   1      F    1   10  48067
1   2      M   56   16  70072
2   3      M   25   15  55117
3   4      M   45    7  02460
4   5      M   25   20  55455

In [4]:
ratings = pd.read_csv('../Datasets/Movies/ml-1m/ratings.dat', sep='::', header=None, engine='python', encoding='latin-1')
ratings.columns = ["UserId", "MovieId", "Rating", "DateTime"]
ratings.head()

   UserId  MovieId  Rating   DateTime
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

# Data Preprocessing

## Prepare Training and Test Set

In [5]:
training_set_df = pd.read_csv('../Datasets/Movies/ml-100k/u1.base', delimiter='\t')
training_set_df.columns = ["UserId", "MovieId", "Rating", "TimeStamp"]
training_set_df.head()

   UserId  MovieId  Rating  TimeStamp
0       1        2       3  876893171
1       1        3       4  878542960
2       1        4       3  876893119
3       1        5       3  889751712
4       1        7       4  875071561

In [6]:
training_set = np.array(training_set_df, dtype='int')

In [7]:
test_set_df = pd.read_csv('../Datasets/Movies/ml-100k/u1.test', delimiter='\t')
test_set_df.columns = ["UserId", "MovieId", "Rating", "TimeStamp"]
test_set_df.head()

   UserId  MovieId  Rating  TimeStamp
0       1       10       3  875693118
1       1       12       5  878542960
2       1       14       5  874965706
3       1       17       3  875073198
4       1       20       4  887431883

In [8]:
test_set = np.array(test_set_df, dtype='int')

## Get total number of Users and Movies

In [9]:
n_total_users = max(max(training_set_df["UserId"].values), max(test_set_df["UserId"].values))
n_total_movies = max(max(training_set_df["MovieId"].values), max(test_set_df["MovieId"].values))
print("total users:", n_total_users, ",total movies:", n_total_movies)

total users: 943 ,total movies: 1682

## Convert Data into Matrix with users in rows and movies in columns

In [10]:
def convert_to_matrix(data, total_users, total_movies):
    ratings_data = np.zeros(shape=(total_users, total_movies))
    for user_id, movie_id, rating, timestamp in data:
        ratings_data[user_id-1][movie_id-1] = rating
    return ratings_data

In [11]:
training_set = convert_to_matrix(training_set, n_total_users, n_total_movies)
test_set = convert_to_matrix(test_set, n_total_users, n_total_movies)

## Convert Data into Torch Tensors

In [12]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

# Build Auto Encoder

In [13]:
class StackedAutoEncoder(nn.Module):
    def __init__(self):
        super(StackedAutoEncoder, self).__init__()
        self.full_connection_1 = nn.Linear(n_total_movies, 20)
        self.full_connection_2 = nn.Linear(20, 10)
        self.full_connection_3 = nn.Linear(10, 20)
        self.full_connection_4 = nn.Linear(20, n_total_movies)
        self.activation = nn.Sigmoid()
        
    def forward(self, x):
        x = self.activation(self.full_connection_1(x))
        x = self.activation(self.full_connection_2(x))
        x = self.activation(self.full_connection_3(x))
        x = self.full_connection_4(x)
        return x

# Train Auto Encoder

In [14]:
stacked_auto_encoder = StackedAutoEncoder()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(stacked_auto_encoder.parameters(), lr = 0.01, weight_decay=0.5)

In [15]:
nb_epochs = 200
for epoch in range(nb_epochs):
    train_loss = 0
    counter = 0.
    for user_id in range(n_total_users):
        movie_ratings_for_user = Variable(training_set[user_id]).unsqueeze(0) # batch of single input vector
        target = movie_ratings_for_user.clone()
        if torch.sum(target.data > 0) > 0:
            sample_output = stacked_auto_encoder(movie_ratings_for_user)
            target.require_grad = False # do not compute gradient
            sample_output[target == 0] = 0 # make sure unrated movies do not impact learning and computation
            loss = criterion(sample_output, target)
            mean_corrector = n_total_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data*mean_corrector)
            counter += 1.
            optimizer.step()
    print("Epoch:", epoch, " Loss:", train_loss/counter)

Epoch: 0  Loss: tensor(1.7712)
Epoch: 1  Loss: tensor(1.0967)
Epoch: 2  Loss: tensor(1.0533)
Epoch: 3  Loss: tensor(1.0385)
Epoch: 4  Loss: tensor(1.0307)
Epoch: 5  Loss: tensor(1.0266)
Epoch: 6  Loss: tensor(1.0236)
Epoch: 7  Loss: tensor(1.0220)
Epoch: 8  Loss: tensor(1.0208)
Epoch: 9  Loss: tensor(1.0197)
Epoch: 10  Loss: tensor(1.0186)
Epoch: 11  Loss: tensor(1.0183)
Epoch: 12  Loss: tensor(1.0178)
Epoch: 13  Loss: tensor(1.0175)
Epoch: 14  Loss: tensor(1.0172)
Epoch: 15  Loss: tensor(1.0170)
Epoch: 16  Loss: tensor(1.0167)
Epoch: 17  Loss: tensor(1.0165)
Epoch: 18  Loss: tensor(1.0164)
Epoch: 19  Loss: tensor(1.0163)
Epoch: 20  Loss: tensor(1.0158)
Epoch: 21  Loss: tensor(1.0158)
Epoch: 22  Loss: tensor(1.0158)
Epoch: 23  Loss: tensor(1.0159)
Epoch: 24  Loss: tensor(1.0158)
Epoch: 25  Loss: tensor(1.0156)
Epoch: 26  Loss: tensor(1.0152)
Epoch: 27  Loss: tensor(1.0154)
Epoch: 28  Loss: tensor(1.0129)
Epoch: 29  Loss: tensor(1.0115)
Epoch: 30  Loss: tensor(1.0108)
Epoch: 31  Loss: tensor(1.0078)
Epoch: 32  Loss: tensor(1.0079)
Epoch: 33  Loss: tensor(1.0049)
Epoch: 34  Loss: tensor(1.0035)
Epoch: 35  Loss: tensor(1.0007)
Epoch: 36  Loss: tensor(0.9997)
Epoch: 37  Loss: tensor(0.9962)
Epoch: 38  Loss: tensor(0.9974)
Epoch: 39  Loss: tensor(0.9939)
Epoch: 40  Loss: tensor(0.9935)
Epoch: 41  Loss: tensor(0.9908)
Epoch: 42  Loss: tensor(0.9893)
Epoch: 43  Loss: tensor(0.9897)
Epoch: 44  Loss: tensor(0.9891)
Epoch: 45  Loss: tensor(0.9846)
Epoch: 46  Loss: tensor(0.9857)
Epoch: 47  Loss: tensor(0.9843)
Epoch: 48  Loss: tensor(0.9871)
Epoch: 49  Loss: tensor(0.9794)
Epoch: 50  Loss: tensor(0.9807)
Epoch: 51  Loss: tensor(0.9762)
Epoch: 52  Loss: tensor(0.9757)
Epoch: 53  Loss: tensor(0.9769)
Epoch: 54  Loss: tensor(0.9772)
Epoch: 55  Loss: tensor(0.9750)
Epoch: 56  Loss: tensor(0.9747)
Epoch: 57  Loss: tensor(0.9726)
Epoch: 58  Loss: tensor(0.9773)
Epoch: 59  Loss: tensor(0.9701)
Epoch: 60  Loss: tensor(0.9717)
Epoch: 61  Loss: tensor(0.9654)
Epoch: 62  Loss: tensor(0.9658)
Epoch: 63  Loss: tensor(0.9641)
Epoch: 64  Loss: tensor(0.9631)
Epoch: 65  Loss: tensor(0.9602)
Epoch: 66  Loss: tensor(0.9606)
Epoch: 67  Loss: tensor(0.9583)
Epoch: 68  Loss: tensor(0.9582)
Epoch: 69  Loss: tensor(0.9559)
Epoch: 70  Loss: tensor(0.9545)
Epoch: 71  Loss: tensor(0.9534)
Epoch: 72  Loss: tensor(0.9522)
Epoch: 73  Loss: tensor(0.9506)
Epoch: 74  Loss: tensor(0.9495)
Epoch: 75  Loss: tensor(0.9477)
Epoch: 76  Loss: tensor(0.9479)
Epoch: 77  Loss: tensor(0.9459)
Epoch: 78  Loss: tensor(0.9462)
Epoch: 79  Loss: tensor(0.9440)
Epoch: 80  Loss: tensor(0.9444)
Epoch: 81  Loss: tensor(0.9423)
Epoch: 82  Loss: tensor(0.9433)
Epoch: 83  Loss: tensor(0.9406)
Epoch: 84  Loss: tensor(0.9418)
Epoch: 85  Loss: tensor(0.9392)
Epoch: 86  Loss: tensor(0.9403)
Epoch: 87  Loss: tensor(0.9384)
Epoch: 88  Loss: tensor(0.9398)
Epoch: 89  Loss: tensor(0.9370)
Epoch: 90  Loss: tensor(0.9391)
Epoch: 91  Loss: tensor(0.9361)
Epoch: 92  Loss: tensor(0.9381)
Epoch: 93  Loss: tensor(0.9351)
Epoch: 94  Loss: tensor(0.9367)
Epoch: 95  Loss: tensor(0.9346)
Epoch: 96  Loss: tensor(0.9357)
Epoch: 97  Loss: tensor(0.9334)
Epoch: 98  Loss: tensor(0.9362)
Epoch: 99  Loss: tensor(0.9366)
Epoch: 100  Loss: tensor(0.9376)
Epoch: 101  Loss: tensor(0.9341)
Epoch: 102  Loss: tensor(0.9364)
Epoch: 103  Loss: tensor(0.9329)
Epoch: 104  Loss: tensor(0.9353)
Epoch: 105  Loss: tensor(0.9326)
Epoch: 106  Loss: tensor(0.9343)
Epoch: 107  Loss: tensor(0.9318)
Epoch: 108  Loss: tensor(0.9336)
Epoch: 109  Loss: tensor(0.9313)
Epoch: 110  Loss: tensor(0.9326)
Epoch: 111  Loss: tensor(0.9309)
Epoch: 112  Loss: tensor(0.9317)
Epoch: 113  Loss: tensor(0.9301)
Epoch: 114  Loss: tensor(0.9312)
Epoch: 115  Loss: tensor(0.9296)
Epoch: 116  Loss: tensor(0.9305)
Epoch: 117  Loss: tensor(0.9288)
Epoch: 118  Loss: tensor(0.9336)
Epoch: 119  Loss: tensor(0.9309)
Epoch: 120  Loss: tensor(0.9306)
Epoch: 121  Loss: tensor(0.9288)
Epoch: 122  Loss: tensor(0.9289)
Epoch: 123  Loss: tensor(0.9276)
Epoch: 124  Loss: tensor(0.9281)
Epoch: 125  Loss: tensor(0.9271)
Epoch: 126  Loss: tensor(0.9274)
Epoch: 127  Loss: tensor(0.9266)
Epoch: 128  Loss: tensor(0.9269)
Epoch: 129  Loss: tensor(0.9257)
Epoch: 130  Loss: tensor(0.9263)
Epoch: 131  Loss: tensor(0.9248)
Epoch: 132  Loss: tensor(0.9256)
Epoch: 133  Loss: tensor(0.9244)
Epoch: 134  Loss: tensor(0.9250)
Epoch: 135  Loss: tensor(0.9238)
Epoch: 136  Loss: tensor(0.9245)
Epoch: 137  Loss: tensor(0.9236)
Epoch: 138  Loss: tensor(0.9240)
Epoch: 139  Loss: tensor(0.9229)
Epoch: 140  Loss: tensor(0.9235)
Epoch: 141  Loss: tensor(0.9224)
Epoch: 142  Loss: tensor(0.9231)
Epoch: 143  Loss: tensor(0.9218)
Epoch: 144  Loss: tensor(0.9223)
Epoch: 145  Loss: tensor(0.9214)
Epoch: 146  Loss: tensor(0.9224)
Epoch: 147  Loss: tensor(0.9211)
Epoch: 148  Loss: tensor(0.9215)
Epoch: 149  Loss: tensor(0.9203)
Epoch: 150  Loss: tensor(0.9212)
Epoch: 151  Loss: tensor(0.9197)
Epoch: 152  Loss: tensor(0.9204)
Epoch: 153  Loss: tensor(0.9196)
Epoch: 154  Loss: tensor(0.9202)
Epoch: 155  Loss: tensor(0.9191)
Epoch: 156  Loss: tensor(0.9197)
Epoch: 157  Loss: tensor(0.9188)
Epoch: 158  Loss: tensor(0.9194)
Epoch: 159  Loss: tensor(0.9185)
Epoch: 160  Loss: tensor(0.9190)
Epoch: 161  Loss: tensor(0.9181)
Epoch: 162  Loss: tensor(0.9187)
Epoch: 163  Loss: tensor(0.9178)
Epoch: 164  Loss: tensor(0.9186)
Epoch: 165  Loss: tensor(0.9172)
Epoch: 166  Loss: tensor(0.9178)
Epoch: 167  Loss: tensor(0.9170)
Epoch: 168  Loss: tensor(0.9177)
Epoch: 169  Loss: tensor(0.9168)
Epoch: 170  Loss: tensor(0.9171)
Epoch: 171  Loss: tensor(0.9164)
Epoch: 172  Loss: tensor(0.9170)
Epoch: 173  Loss: tensor(0.9160)
Epoch: 174  Loss: tensor(0.9164)
Epoch: 175  Loss: tensor(0.9157)
Epoch: 176  Loss: tensor(0.9160)
Epoch: 177  Loss: tensor(0.9153)
Epoch: 178  Loss: tensor(0.9157)
Epoch: 179  Loss: tensor(0.9150)
Epoch: 180  Loss: tensor(0.9156)
Epoch: 181  Loss: tensor(0.9151)
Epoch: 182  Loss: tensor(0.9153)
Epoch: 183  Loss: tensor(0.9148)
Epoch: 184  Loss: tensor(0.9152)
Epoch: 185  Loss: tensor(0.9146)
Epoch: 186  Loss: tensor(0.9149)
Epoch: 187  Loss: tensor(0.9145)
Epoch: 188  Loss: tensor(0.9145)
Epoch: 189  Loss: tensor(0.9140)
Epoch: 190  Loss: tensor(0.9142)
Epoch: 191  Loss: tensor(0.9136)
Epoch: 192  Loss: tensor(0.9139)
Epoch: 193  Loss: tensor(0.9132)
Epoch: 194  Loss: tensor(0.9136)
Epoch: 195  Loss: tensor(0.9131)
Epoch: 196  Loss: tensor(0.9135)
Epoch: 197  Loss: tensor(0.9130)
Epoch: 198  Loss: tensor(0.9133)
Epoch: 199  Loss: tensor(0.9129)

# Test Auto Encoder

In [16]:
test_loss = 0
counter = 0
for user_id in range(n_total_users):
    movie_ratings_for_user = Variable(training_set[user_id]).unsqueeze(0) # batch of single input vector
    target = Variable(test_set[user_id]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        sample_output = stacked_auto_encoder(movie_ratings_for_user)
        target.require_grad = False # do not compute gradient
        sample_output[target == 0] = 0 # make sure unrated movies do not impact learning and computation
        loss = criterion(sample_output, target)
        mean_corrector = n_total_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        counter += 1.
print("Test loss:", test_loss/counter)

Test loss: tensor(0.9468)